/* general */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* navigation bar */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.lang{
  display: none;
}
.pic{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-un {
  display: flex;
  list-style: none;
  gap: 50px;
  margin: 0;
}

.nav-un li {
  cursor: pointer;
}

.btn button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

/* mobile navbar */
.mobile-nav {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* middle section */
.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
}

.middle-images {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.mimg2 {
  width: 200px;
  height: auto;
  border-radius: 25px;
}


.bot-h1 {
  text-align: center;
  font-size: 64px;
  font-weight: lighter;
}

/* bottom section */
.try-div {
  text-align: center;
  font-size: 48px;
  font-weight: lighter;
}

.three-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.pc1 ,pc3 {
  height: 40px;
}
.pc2{
  height: 55px;
}

.footer {
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

.text-we {
  font-size: 18px;
  text-align: center;
}

.m-img{
  height: 70px;
  width: auto;
}
.img-1{
  height: 30px;
  width: auto;
}
.bot-h1 {
  font-size: 84px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.login{
  display: none;
}
.mail{
  display: block;
}
@media screen and (max-width: 768px) {
  .nav-un {
    display: none;
  }
  .mail{
    display: none;
  }
  .faq{
    display: none;
  }
  .lang{
    display: block;
    
  }
.login{
  display: block;
}
  .hamburger {
    display: block;
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: #000;
    color: white;
    padding: 15px;
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
  }

  .bot-h1, .try-div {
    font-size: 40px;
    text-align: left;
    margin-left: 20px;
  }

  .m1{
  width: 400px;
}
.main{
  display: flex;
  flex-direction: column-reverse;
}
  .middle-images {
    flex-direction: column;
    align-items: center;
  }

  .mimg2 {
    display: none;
  }
}
